#tl_navigation .group-pliigo-gbls {
    background: url(../icons/monitor.svg) 2px 2px no-repeat;
    background-size: 15px 15px;
    shape-rendering: optimizeQuality;
}
.pliigo-dark-widget {
    background: #0f1c26;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    box-sizing: border-box;
    margin-top: -10px;
    margin-bottom: -26px;
    color: #FFF;
    border-left: 5px solid #f47c00;
    border-right: 5px solid #f47c00;
}
.pliigo-widget-container.flex {
    /* background-color: #efefef; */
    color: #666;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pliigo-dark-widget .pliigo-widget-container {
    color: #999;
}

.pliigo-logo-container {
    background: url(../icons/monitor.svg) 2px 2px no-repeat;
    width: 50px;
    height: 50px;
    order: 2;
    /* background-color: #fff; */
}

.pliigo-widget-container .pliigo-widget-heading {
    display: block;
    order: 1;
    flex-grow: 1;
}

.pliigo-widget-container .pliigo-widget-heading h2 {
    font-size: 2rem;
    line-height: 1.2;
    color: #333;
}
.pliigo-dark-widget .pliigo-widget-container .pliigo-widget-heading h2 {
    color: #999;
}
.pliigo-widget-container .pliigo-widget-heading span {
    font-weight: 100;
    line-height: 1.3;
}

#markdown-preview-container {
    /* all: initial; */
    font-family: Lato, sans-serif;
}

#markdown-preview-container * {
    /* all: initial; */
}

#markdown-preview-container a {
    color: #f47c00;
    text-decoration: underline;
}

#markdown-preview-container ul,
#markdown-preview-container ul li {
    list-style: disc;
}

#markdown-preview-container ol,
#markdown-preview-container ol li {
    list-style: decimal;
}

#markdown-preview-container ul,
#markdown-preview-container ol {
    margin: 0;
    padding-left: 1em;
}



.gbls.layout-sections-record-row {
    display: flex;
    flex-direction: row;
}


.gbls.layout-sections-record-row .flex-grow {
    flex-grow: 1;
}


.gbls.layout-sections-record-row {
    color: rgb(179, 179, 179);
}
.gbls.layout-sections-record-row .sepperator{
    color: rgb(219, 219, 219);;
    margin-left: 0.2em;
    margin-right: 0.3em;
}
.gbls.layout-sections-record-row .name{
    color: #333;
}
.gbls.layout-sections-record-row .last-col {
    
}

.gbls.layout-sections-record-row .last-col a {
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-right: 1em;
    line-height: 1em;
    font-size: 0.7em;
}
.gbls.layout-sections-record-row .last-col a:hover {
    color: #f47c00;
    font-weight: bold;
}

.tl_header_table tr {
    vertical-align: top;
    
}

.tl_header_table tr td {
    padding-bottom: 5px;
}

.tl_header_table tr:last-child td {
    padding-bottom: inherit;
}

.cte_type.unpublished + div .visible_start,
.cte_type.unpublished + div .visible_stop {
    display: none;
}

.language-info, .publishing-info, .not-visible-info {
    display: inline-block;
    margin-right: 1rem;
}

.not-visible-info {

    display: none;
}

.cte_type.unpublished + div .not-visible-info {
    display: inline-block;
}

.cte_type.unpublished + div .not-visible-info-sepperator {
    display: none;
}

.cte_type + div .not-visible-info.not_visible_start,
.cte_type + div .not-visible-info.not_visible_stop {
    display: inline-block;
}


fieldset.tl_tbox.nolegend ~ fieldset {
    background-color: rgba(15,25,38,0.025);
    /* border-left: 5px solid #f47c00; */
    /* border-right: 5px solid #f47c00; */
    border-top-color: #f47c00;
    /* border-bottom-color: rgba(15,25,38,0.5); */
}

/* 
.checkbox_options input[type="checkbox"] {
    opacity: 0;
}

.checkbox_options label::before{
    content: "";
    display: inline-block;
    
    height: 16px;
    width: 16px;
    
    border: 1px solid;   
}


.checkbox_options label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
}


.checkbox_options label {
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}
.checkbox_options label::before,
.checkbox_options label::after {
    position: absolute;
    left: 0;
}

.checkbox_options label::before {
 
    top: 0;
 
}

.checkbox_options label::after {
    left: 4px;
    top: 3px;
}



.checkbox_options input[type="checkbox"] + label::after {
    content: none;
}

.checkbox_options input[type="checkbox"]:checked + label::after {
    content: "";

}


.checkbox_options input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
} */